<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353990071642-35poseg3t141tllosi8na0nlv6robjk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353990071642-35poseg3t141tllosi8na0nlv6robjk5</string>
	<key>API_KEY</key>
	<string>AIzaSyDO-a-ynVUUDWo1lHBaK9E7pmd7vLuJTnw</string>
	<key>GCM_SENDER_ID</key>
	<string>353990071642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.lce.myProgress</string>
	<key>PROJECT_ID</key>
	<string>myprogress-8b720</string>
	<key>STORAGE_BUCKET</key>
	<string>myprogress-8b720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353990071642:ios:b261f2a2b1efa9cb608f63</string>
</dict>
</plist>